<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.claremountconnection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Opportunities.OpportunitiesDetailsPage"></activity>
        <activity android:name=".Opportunities.OpportunitiesPost" />
        <activity android:name=".Recommender" />
        <activity android:name=".ProfileEdit" />
        <activity android:name=".ProfileLoginCreate.ProfileLogin" />
        <activity android:name=".ProfileLoginCreate.ProfileCreate" />
        <activity android:name=".Options.Options" />
        <activity android:name=".Messages.Messages" />
        <activity android:name=".Map.Map" />
        <activity android:name=".Opportunities.Opportunities" />
        <activity android:name=".FindAlumni.FindAlumni" />
        <activity android:name=".ProfileHome.Profile" />
        <activity android:name=".NewsFeed.NewsFeed" />
        <activity android:name=".TestDisplayDBUser" />
        <activity android:name=".MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>